---
layout: default
section: about
app: about
---

<div class="container content">
    <div class="row">
        <div class="span4">
            <h1>Chicago is the City that Works</h1>
            <ul class="nav nav-stacked nav-tabs">
               <li><a href="#welcome">Welcome</a></li>
               <li><a href="#data">Data</a></li>
               <li><a href="#open311">Open311</a></li>
               <li><a href="#smart_chicago_collaborative">Smart Chicago Collaborative</a></li>
            </ul>
        </div>
        <div class="span8">
            {{ content }}
        </div>
    </div>
</div>
