---
layout: default
section: about
bodyclass: about
---

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Chicago is the City that Works</h2>
            <p>
                In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a.
            </p>
            <ul class="nav nav-stacked nav-tabs">
               <li><a href="#data">Data</a></li>
               <li><a href="#chicago">Chicago</a></li>
               <li><a href="#311">311</a></li>
               <li><a href="#smart_chicago_collaborative">Smart Chicago Collaborative</a></li>
               <li><a href="#you">You</a></li>
            </ul>
        </div>
        <div class="span8">
            {{ content }}
        </div>
    </div>
</div>
