<!DOCTYPE html>
<html lang="en" ng-app="{{ page.app }}">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
{% if site.debug %}
<link rel="stylesheet" href="/lib/roboto.css" />
<link rel="stylesheet" href="/lib/leaflet.css" />
{% else %}
<link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endif %}
<link href="/css/screen.css" rel="stylesheet">
<!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<link rel="shortcut icon" href="/images/favicon.png">
</head>

<body class="{{ page.app }}">

<div class="navbar topnav navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">CWFY</a>
      <ul class="nav">
        <li {% if page.section == 'yesterday' %}class="active"{% endif %}><a href="/">Yesterday</a></li>
        <li {% if page.section == 'services' %}class="active"{% endif %}><a href="/service-map/">Services</a></li>
        <li {% if page.section == 'wards' %}class="active"{% endif %}><a href="/ward-map/">Wards</a></li>
        <li {% if page.section == 'annotations' %}class="active"{% endif %}><a href="/annotations/">Annotations</a></li>
        <li {% if page.section == 'about' %}class="active"{% endif %}><a href="/about/">About</a></li>
      </ul>
    </div>
</div>

<div class="subnav-wrap">
{% if page.app == 'wardApp' %}
    <div class="navbar container subnav wardnav">
      <div class="navbar-inner">
        <a class="brand" href="#">Ward {{ page.ward }}</a>
        <ul class="nav">
            <li><a href="#map">Map</a></li>
          <li><a href="#counts">Tickets submitted</a></li>
          <li><a href="#ttc">Time to close</a></li>
          <li><a href="#rankings">Rankings</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="alderman"></li>
        </ul>
      </div>
    </div>
{% endif %}
{% if page.app == 'wardMapApp' %}
    <div class="navbar container subnav">
        <form class="search-form" action="/search/">
            <input type="text" placeholder="Enter your address to find your ward">
        </form>
        <!-- search goes here -->
    </div>
{% endif %}
</div>

{{ content }}

<footer class="container">
    © 2013 Smart Chicago Collaborative
</footer>

{% if site.debug %}
<script>
window.apiDomain = "http://localhost:5000/";
</script>
<script src="/lib/jquery.1.9.1.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/lib/highcharts.js"></script>
<script src="/lib/leaflet.js"></script>
{% else %}
<script>
window.apiDomain = "http://cwfy-api-staging.smartchicagoapps.org/";
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endif %}
<script src="/data/wards.json"></script>
<script src="/lib/bootstrap.custom.min.js"></script>
<script src="/lib/moment.min.js"></script>
<script src="/lib/twix.min.js"></script>
<script src="/lib/underscore-min.js"></script>
<script src="/js/scripts.js"></script>
{% if page.has_js %}
<script src="/js/{{ page.app }}.js"></script>
{% endif %}
</body>
</html>
