<!DOCTYPE html>
<html lang="en" ng-app="{{ page.app }}">
<head ng-controller="headCtrl">
<meta charset="utf-8">
<title ng-bind="data.pageTitle">{{ page.title }} | Chicago Works For You</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The citywide dashboard with ward-by-ward views of service delivery in Chicago">
<meta name="author" content="Smart Chicago Collaborative">
<meta property="og:site_name" content="Chicago Works For You">
<meta property="og:type" content="website">
<meta property="og:title" ng-bind="data.pageTitle" content="{{ page.title }}">
<meta property="og:description" content="The citywide dashboard with ward-by-ward views of service delivery in Chicago.">
{% comment %}
<meta property="og:image" content="">
{% endcomment %}


{% if site.debug %}
<link href="/css/bootstrap_custom/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/lib/monda.css" />
<link rel="stylesheet" href="/lib/leaflet.css" />
{% else %}
<link href="/css/bootstrap_custom/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endif %}
<link href="/css/screen.css" rel="stylesheet">
<!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<link rel="shortcut icon" href="/images/favicon.png">
</head>

<body class="{{ page.app }}">

<div class="navbar topnav navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">CW4U</a>
      <ul class="nav">
        <li class="{% if page.section == 'home' %}active{% endif %}"><a href="/">Home</a></li>
        <li class="{% if page.section == 'services' %}active{% endif %} dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/service/">Services <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="/service/abandoned_vehicle/">Abandoned Vehicle</a></li>
                <li><a href="/service/alley_light_out/">Alley Light Out</a></li>
                <li><a href="/service/building_violation/">Building Violation</a></li>
                <li><a href="/service/graffiti_removal/">Graffiti Removal</a></li>
                <li><a href="/service/pavement_cavein_survey/">Pavement Cave-In Survey</a></li>
                <li><a href="/service/pothole_in_street/">Pothole in Street</a></li>
                <li><a href="/service/restaurant_complaint/">Restaurant Complaint</a></li>
                <li><a href="/service/rodent_baiting_rat_complaint/">Rodent Baiting / Rat Complaint</a></li>
                <li><a href="/service/sanitation_code_violation/">Sanitation Code Violation</a></li>
                <li><a href="/service/street_cut_complaint/">Street Cut Complaints</a></li>
                <li><a href="/service/street_light_1_out/">Street Light 1 / Out</a></li>
                <li><a href="/service/street_lights_all_out/">Street Lights All / Out</a></li>
                <li><a href="/service/traffic_signal_out/">Traffic Signal Out</a></li>
                <li><a href="/service/tree_debris/">Tree Debris</a></li>
            </ul>
        </li>
        <li class="{% if page.section == 'wards' %}active{% endif %} dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/ward/">Wards <b class="caret"></b></a>
            <div class="dropdown-menu dropdown-set">
                <ul role="menu" aria-labelledby="dLabel">
                    <li><a href="/ward/1/">1</a></li>
                    <li><a href="/ward/2/">2</a></li>
                    <li><a href="/ward/3/">3</a></li>
                    <li><a href="/ward/4/">4</a></li>
                    <li><a href="/ward/5/">5</a></li>
                    <li><a href="/ward/6/">6</a></li>
                    <li><a href="/ward/7/">7</a></li>
                    <li><a href="/ward/8/">8</a></li>
                    <li><a href="/ward/9/">9</a></li>
                    <li><a href="/ward/10/">10</a></li>
                </ul>
                <ul role="menu" aria-labelledby="dLabel">
                    <li><a href="/ward/11/">11</a></li>
                    <li><a href="/ward/12/">12</a></li>
                    <li><a href="/ward/13/">13</a></li>
                    <li><a href="/ward/14/">14</a></li>
                    <li><a href="/ward/15/">15</a></li>
                    <li><a href="/ward/16/">16</a></li>
                    <li><a href="/ward/17/">17</a></li>
                    <li><a href="/ward/18/">18</a></li>
                    <li><a href="/ward/19/">19</a></li>
                    <li><a href="/ward/20/">20</a></li>
                </ul>
                <ul role="menu" aria-labelledby="dLabel">
                    <li><a href="/ward/21/">21</a></li>
                    <li><a href="/ward/22/">22</a></li>
                    <li><a href="/ward/23/">23</a></li>
                    <li><a href="/ward/24/">24</a></li>
                    <li><a href="/ward/25/">25</a></li>
                    <li><a href="/ward/26/">26</a></li>
                    <li><a href="/ward/27/">27</a></li>
                    <li><a href="/ward/28/">28</a></li>
                    <li><a href="/ward/29/">29</a></li>
                    <li><a href="/ward/30/">30</a></li>
                </ul>
                <ul role="menu" aria-labelledby="dLabel">
                    <li><a href="/ward/31/">31</a></li>
                    <li><a href="/ward/32/">32</a></li>
                    <li><a href="/ward/33/">33</a></li>
                    <li><a href="/ward/34/">34</a></li>
                    <li><a href="/ward/35/">35</a></li>
                    <li><a href="/ward/36/">36</a></li>
                    <li><a href="/ward/37/">37</a></li>
                    <li><a href="/ward/38/">38</a></li>
                    <li><a href="/ward/39/">39</a></li>
                    <li><a href="/ward/40/">40</a></li>
                </ul>
                <ul role="menu" aria-labelledby="dLabel">
                    <li><a href="/ward/41/">41</a></li>
                    <li><a href="/ward/42/">42</a></li>
                    <li><a href="/ward/43/">43</a></li>
                    <li><a href="/ward/44/">44</a></li>
                    <li><a href="/ward/45/">45</a></li>
                    <li><a href="/ward/46/">46</a></li>
                    <li><a href="/ward/47/">47</a></li>
                    <li><a href="/ward/48/">48</a></li>
                    <li><a href="/ward/49/">49</a></li>
                    <li><a href="/ward/50/">50</a></li>
                </ul>
            </div>
        </li>
        <li class="{% if page.section == 'media' %}active{% endif %}"><a href="/photos/">Photos</a></li>
        <li class="{% if page.section == 'annotations' %}active{% endif %}"><a href="http://annotations.chicagoworksforyou.com ">Annotations</a></li>
        <li class="{% if page.section == 'about' %}active{% endif %}"><a href="/about/">About</a></li>
      </ul>
      {% comment %}
      <form class="navbar-search pull-right ng-pristine ng-valid" method="GET" action="/search">
            <input type="text" name="as_q" class="search-query" placeholder="Enter your Chicago address">
      </form>
      {% endcomment %}
    </div>
</div>

{{ content }}

<footer>
    <div class="container">

        <div class="pull-left"><a href="http://www.smartchicagocollaborative.org/"><img src="/img/go-logo.png" width="50" height="50" alt="Smart Chicago Collaborative"></a></div>

        <ul class="scc-nav nav nav-pills pull-left">
            <li><a href="http://www.smartchicagocollaborative.org/">Smart Chicago Collaborative</a></li>
            <li><a class="icon twitter" href="https://twitter.com/smartchicago"></a></li>
            <li><a class="icon facebook" href="https://www.facebook.com/smartchicago"></a></li>
            <li><a class="icon github" href="https://github.com/smartchicago/"></a></li>
        </ul>

        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/photos/">Photos</a></li>
            <li><a href="http://annotations.chicagoworksforyou.com/">Annotations</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>
</footer>

<script>
window.apiDomain = "{{ site.api_domain }}";
</script>

{% if site.debug %}
<script src="/lib/jquery.1.9.1.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/lib/highcharts.js"></script>
<script src="/lib/leaflet.js"></script>
{% else %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://code.highcharts.com/3.0.5/highcharts.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
{% endif %}

{% if site.debug %}
<script src="/lib/bootstrap.custom.min.js"></script>
<script src="/lib/moment.min.js"></script>
<script src="/lib/twix.min.js"></script>
<script src="/lib/underscore-min.js"></script>
<script src="/lib/leaflet.label.js"></script>
<script src="/js/scripts.js"></script>
{% else %}
<script src="/js/scripts_prod.js"></script>
{% endif %}

{% if page.has_js %}
<script src="/js/{{ page.app }}.js"></script>
{% endif %}

{% if site.debug %}
{% else %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37739534-16', 'chicagoworksforyou.com');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
