---
layout: default
section: services
app: serviceApp
has_js: true
---

<script>
window.currServiceType = '{{ page.service_code }}';
</script>

<div class="weeknav">
<div class="container" ng-controller="headerCtrl">
    <div class="row">
        <div class="move prev span2">
            <a href="" ng-click="goToPrevDate()">« Prev week</a>
        </div>
        <div class="curr span8">
            <h1>
                <a href="#">{{ page.title }}</a><br>
            </h1>
            <span ng-bind="data.thisDate"></span>
            &nbsp; •
            <span class="open-count" ng-bind="data.cityCount"></span>
            <span class="closed-count" ng-bind="data.cityCloseCount"></span>
        </div>
        <div class="move next span2">
            <a href="" ng-click="goToNextDate()">Next week »</a>
        </div>
    </div>
</div>
</div>

<div class="container" ng-controller="sidebarCtrl">
    {% raw %}
    <div class="pagination">
        <ul>
            <li class="day" ng-repeat="day in data.days" ng-class="{future: day.inFuture}" style="border-bottom:5px solid {{ day.color }};">
                <a ng-href="/#/{{ day.date|date:'yyyy-MM-dd' }}/{{ data.stSlug }}/" ng-disabled="day.inFuture">
                    {{ day.date|date:'EEE' }}
                    <b>{{ day.date|date:'d' }}</b>
                    {{ day.date|date:'MMM' }}
                </a>
            </li>
        </ul>
    </div>
    {% endraw %}

    <div class="row">
        <div class="span4">
            <div class="description">
                <br>
                {{ content }}
            </div>
            <p class="city-average">
                Average number of requests opened in a ward this week: <span ng-bind="data.cityAverage"></span>
            </p>
            <br>
            <ul class="external-links nav nav-stacked nav-tabs">
                {% if page.data_portal %}
                <li>
                    <a class="data-portal-link" href="{{ page.data_portal }}">View the original source for this data &rarr; <span>on the City of Chicago data portal</span></a>
                </li>
                {% endif %}
                <li>
                    <a ng-href="http://311request.cityofchicago.org/reports/new?service_id={{ page.service_code }}">Submit {{ page.title }} 311 report &rarr;</a>
                </li>
            </ul>
        </div>
        <div class="span8" ng-controller="serviceCtrl">
            <div id="chart" class="chart"></div>
        </div>
    </div>
</div>
