---
layout: default
section: servicetypes
slug: servicetype
has_js: true
---

<script>
window.currServiceType = '{{ page.service_type }}';
</script>

<div class="container content">
    <div class="row">
        <div class="span4">
            <h1>{{ page.title }}</h1>
            {{ content }}
            <div class="pagination">
                <ul>
                    <li class="prev-week"><a href="#">&larr;</a></li>
                    <li class="this-week"><a href="#"></a></li>
                    <li class="next-week"><a href="#">&rarr;</a></li>
                </ul>
            </div>
            <p>
                Blue bars are total tickets for this week<br>
                Black bars are averages for that ward<br>
                Red stripe is city average for this week
            </p>
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/servicetypes/abandoned_vehicle.html">Abandoned Vehicle</a></li>
                <li><a href="/servicetypes/alley_light_out.html">Alley Light Out</a></li>
                <li><a href="/servicetypes/building_violation.html">Building Violation</a></li>
                <li><a href="/servicetypes/graffiti_removal.html">Graffiti Removal</a></li>
                <li><a href="/servicetypes/pavement_cavein_survey.html">Pavement Cave-in Survey</a></li>
                <li><a href="/servicetypes/pothole_in_street.html">Pothole in Street</a></li>
                <li><a href="/servicetypes/restaurant_complaint.html">Restaurant Complaint</a></li>
                <li><a href="/servicetypes/rodent_baiting_rat_complaint.html">Rodent Baiting / Rat Complaint</a></li>
                <li><a href="/servicetypes/sanitation_code_violation.html">Sanitation Code Violation</a></li>
                <li><a href="/servicetypes/street_cut_complaint.html">Street Cut Complaint</a></li>
                <li><a href="/servicetypes/street_light_1_out.html">Street Light 1 / Out</a></li>
                <li><a href="/servicetypes/street_lights_all_out.html">Street Lights All Out</a></li>
                <li><a href="/servicetypes/traffic_signal_out.html">Traffic Signal Out</a></li>
                <li><a href="/servicetypes/tree_debris.html">Tree Debris</a></li>
            </ul>
        </div>
        <div class="span8">
            <div id="chart" class="chart"></div>
        </div>
    </div>
</div>
