---
layout: default
section: services
app: serviceApp
has_js: true
---

<script>
window.currServiceType = '{{ page.service_code }}';
</script>

<div class="weeknav">
<div class="container" ng-controller="headerCtrl">
    <div class="row">
        <div class="move prev span2">
            <a href="" ng-click="goToPrevDate()">« Prev week</a>
        </div>
        <div class="curr span8">
            <h1>
                <a href="#">{{ page.title }}</a><br>
            </h1>
            <span ng-bind="data.thisDate"></span>
            •
            <span class="open-count" ng-bind="data.cityCount"></span>
            <span class="closed-count" ng-bind="data.cityCloseCount"></span>
        </div>
        <div class="move next span2">
            <a href="" ng-click="goToNextDate()">Next week »</a>
        </div>
    </div>
</div>
</div>

<div class="container" ng-controller="sidebarCtrl">
    {% raw %}
    <div class="pagination">
        <ul>
            <li class="day" ng-repeat="day in data.days" ng-class="day.dowAbbr" style="border-bottom:5px solid {{ day.color }};">
                <a ng-href="/#/{{ day.date|date:'yyyy-MM-dd' }}/">
                    {{ day.date|date:'EEE' }}
                    <b>{{ day.date|date:'d' }}</b>
                    {{ day.date|date:'MMM' }}
                </a>
            </li>
        </ul>
    </div>
    {% endraw %}

    <div class="row">
        <div class="span4">
            {% comment %}
            <p>And XXX were closed. Here's how they break down.</p>
            {% endcomment %}
            <div class="description">
                {{ content }}
            </div>
            <p class="city-average">
                Average number of requests opened in a ward this week: <span ng-bind="data.cityAverage"></span>
            </p>
        </div>
        <div class="span8" ng-controller="serviceCtrl">
            <div id="chart" class="chart"></div>
        </div>
    </div>
</div>
