---
layout: default
section: servicetypes
has_js: true
---

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Graffiti Removal</h2>
            <p>
                In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a.
            </p>
            <div class="pagination">
                <ul>
                    <li class="prev-week"><a href="#">&larr;</a></li>
                    <li class="this-week"><a href="#"></a></li>
                    <li class="next-week"><a href="#">&rarr;</a></li>
                </ul>
            </div>
        </div>
        <div class="span8">
            <div id="chart" class="chart"></div>
            {{ content }}
        </div>
    </div>
</div>
