---
layout: default
section: servicetypes
slug: servicetype
has_js: true
---

<script>
window.currServiceType = '{{ page.service_type }}';
</script>

<div class="container content">
    <div class="row">
        <div class="span4">
            <h1>{{ page.title }}</h1>
            {{ content }}
            <div class="pagination">
                <ul>
                    <li class="prev-week"><a href="#">&larr;</a></li>
                    <li class="this-week"><a href="#"></a></li>
                    <li class="next-week"><a href="#">&rarr;</a></li>
                </ul>
            </div>
        </div>
        <div class="span8">
            <div id="chart" class="chart"></div>
        </div>
    </div>
</div>
