---
layout: default
section: services
app: serviceApp
has_js: true
---

<script>
window.currServiceType = '{{ page.service_code }}';
</script>

<div class="container content">
    <div class="row">
        <div class="span4" ng-controller="sidebarCtrl">
            <h1><a href="#">{{ page.title }}</a> requests opened this week</h1>
            <div class="pagination-wrap">
                <div class="pagination">
                    <ul>
                        <li class="prev-date"><a ng-click="prevDate()">&larr;</a></li>
                        <li class="this-date"><a href="#" ng-bind="data.thisDate"></a></li>
                        <li class="next-date"><a ng-click="nextDate()">&rarr;</a></li>
                    </ul>
                </div>
            </div>
            {{ content }}
            <hr>
            <p>
                Black vertical line = city average for this week
            </p>
        </div>
        <div class="span8" ng-view>
        </div>
    </div>
</div>
