---
layout: default
section: wards
app: wardApp
title: Ward {{ page.ward }}
has_js: true
---

<script>
window.wardNum = {{ page.ward }};
window.wardPath = {{ page.points }};
</script>

<div class="map">
    <div id="map"></div>
</div>

<div class="weeknav">
<div class="container" ng-controller="headerCtrl">
    <div class="row">
        <div class="curr span8 offset2">
            <h1>
                <a href="#">{{ page.title }}</a>
                <div class="pagination ward-info">
                    <ul>
                        <li><a href="{{ page.website }}">Ald. {{ page.alderman }}</a></li>
                        {% if page.citysite != '' %}
                            <li class="icon city"><a title="City of Chicago website" href="{{ page.citysite }}"><span></span></a></li>
                        {% endif %}
                        {% if page.twitter != '' %}
                            <li class="icon twitter"><a title="Twitter" href="{{ page.twitter }}"><span></span></a></li>
                        {% endif %}
                        {% if page.facebook != '' %}
                            <li class="icon facebook"><a title="Facebook" href="{{ page.facebook }}"><span></span></a></li>
                        {% endif %}
                        {% if page.councilmatic != '' %}
                            <li class="icon councilmatic"><a title="Councilmatic" href="{{ page.councilmatic }}"><span></span></a></li>
                        {% endif %}
                    </ul>
                </div>

            </h1>
            <span ng-bind="data.thisDate"></span>:
            <span class="open-count" ng-bind="data.openCount"></span> opened
            <span class="closed-count" ng-bind="data.closedCount"></span> closed
        </div>
        <a class="move prev" href="" ng-click="goToPrevDate()">« Prev week</a>
        <a class="move next" href="" ng-click="goToNextDate()">Next week »</a>
    </div>
</div>
</div>

<div class="container body">
    <div class="row">
        <div class="span3" ng-controller="sidebarCtrl">
            <div class="filter">
                {% raw %}
                <ul class="st-list nav nav-pills nav-stacked">
                    <li ng-class="{active: !data.serviceObj.slug}"><a ng-href="#/{{ data.date }}/">All service types</a></li>
                    <li ng-class="{active: service.slug == data.serviceObj.slug}" ng-repeat="service in data.services | orderBy:'name'"><a ng-href="#/{{ data.date }}/{{ service.slug }}/" ng-bind="service.name"></a></li>
                </ul>
                {% endraw %}

                {% include share_box.html %}
            </div>
        </div>
        <div class="span9" ng-controller="wardChartCtrl" ng-switch on="data.action">
            <section id="weekReview" class="weekReview">
                <h3>Week in review</h3>
                <div id="weekReview-chart" class="service-chart"></div>
            </section>
            <section id="ttc" class="ttc">
                <h3>Time-to-close ranking <small>(in days)</small></h3>
                <p class="explanation" ng-show="data.inTTCchart">
                    Among the <span ng-bind="data.totalTTCWards"></span> wards that closed <span ng-bind="data.minTTCcount"></span> or more <b ng-bind="data.serviceObj.name"></b> requests this week, Ward <span ng-bind="data.wardNum"></span> ranked <b ng-bind="data.wardRank"></b>, with an average time-to-close of <b ng-bind="data.wardTime"></b> <b>days</b>.
                </p>
                <p class="explanation" ng-show="!data.inTTCchart">
                    Ward <span ng-bind="data.wardNum"></span> didn't close <span ng-bind="data.minTTCcount"></span> or more <span ng-bind="data.serviceObj.name"></span> requests this week, so it's not shown on this chart.
                </p>
                <div id="ttc-chart" class="service-chart"></div>
            </section>
            <div ng-switch-when="overview">
                <section id="counts" class="counts">
                    <h3>Days with the most requests</h3>
                    <div id="highs-chart" class="overview-chart"></div>
                </section>
            </div>
            <div ng-switch-when="detail">
                <section id="counts" class="counts">
                    <h3>Days with the most <span ng-bind="data.serviceObj.name"></span> requests</h3>
                    <div id="counts-chart" class="service-chart"></div>
                </section>
            </div>
        </div>
    </div>
</div>

