<div class="navbar topnav navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">CWFY</a>
      <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
      <ul class="nav">
        <li class="active"><a href="/wards/">Wards</a></li>
        <li><a href="/transitions/">Transitions</a></li>
        <li><a href="/interesting/">Interesting</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
</div>
