<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
<!-- <link href="/css/bootstrap/bootstrap-responsive.css" rel="stylesheet"> -->
<link href="/css/screen.css" rel="stylesheet">
<!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

<link rel="shortcut icon" href="/images/favicon.png">
</head>

<body>

<div class="container navgroup navbar-fixed-top">
    {% include navbar.html %}

    <div class="navbar subnav">
      <div class="navbar-inner">
        <a class="brand" href="#top">Ward 6</a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <ul class="nav">
          <li><a href="#stats">Stats</a></li>
          <li><a href="#rankings">Rankings</a></li>
          <li><a href="#compare">Compare</a></li>
        </ul>
      </div>
    </div>
</div>

{{ content }}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(function () {
    $('#chart').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Tickets submitted'
            }
        },
        plotOptions: {
            area: {
                pointStart: Date.UTC(2013, 3, 6),
                pointInterval: 24 * 3600 * 1000, // one day
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>tickets in {point.x}'
        },
        series: [{
            name: 'Ward 6',
            data: [10, 12, 15, 13, 10, 12, 13]
        }]
    });
});
</script>


<footer class="container">
    © 2013 Smart Chicago Collaborative
</footer>

<script src="/js/holder.js"></script>
</body>
</html>
