@import "compass/css3/box-shadow";

html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
}

.navgroup {
    margin: 20px auto;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.sticky-wrapper.is-sticky {
    .subnav {
        @include box-shadow(0 0 10px fade-out(black,.7));
    }
}

.topnav {
    background:black;

    .brand {
        font-size: 18px;
        padding: 12px 10px 0;
        margin: 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    .nav > li > a {
        padding: 12px 24px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .navbar-inner {
        background:none;
        border-radius: 0;
        margin: 0 auto;
        width: 900px;
    }

    &.has-subnav {
        .navbar-inner {
            border-radius: 4px 4px 0 0;
        }
    }
}

.subnav {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2000;
    border-radius: 4px;
    background: #fff;
    @include box-shadow(0 0 10px fade-out(black,.8));


    .brand {
        padding: 14px 20px 16px;
        margin: 0;
    }

    .navbar-inner {
        border: none;
        background:white;
    }

    .nav > li > a {
        color: #555;
        padding: 15px 20px;
    }
}

.sticky-wrapper {
    height: 0 !important;
    position: absolute;
    top: 70px;
    width: 100%;

    .subnav {
        position: relative;
        top: 0;
    }

    &.is-sticky {
        .subnav, .navbar-inner {
            border-radius: 0 0 4px 4px;
        }
    }
}

.map iframe {
    border: none;
}

.body {
    position: relative;
    padding-top: 40px;
}

// WARDS

.wards {
    .wards-map {
        margin-top: -46px; // Height of navbar
        height: 100%;
    }

    .st-list {
        height: 0;
        position: relative;

        ul {
            position: absolute;
            top: 150px;
            left: 0;
            z-index: 3000;
            @include box-shadow(0 0 10px fade-out(black,.7));

            li {

                a {
                    background:white;
                }
            }
        }
    }
}

.search-form {
    margin: 0;

    input {
        margin: 0;
        border: 0;
        width: 100%;
        padding: 14px 0;
        line-height: 1;
        text-indent: 40px;
        border-radius: 6px 6px;
    }
}

// WARD DETAIL

.alderman {
    position: relative;
    z-index: 100;

    .content {
        position: absolute;
        top: 150px;
        right: 0;
        width: 120px;
        background: fade-out(black,.2);
        padding: 20px;
        border-radius: 6px;
        @include box-shadow(0 0 10px fade-out(black,.7));
    }

    img {
        margin-bottom: 1em;
    }

    h2 {
        color: white;
        font-size: 16px;
        margin: 0;
        line-height: 20px;
    }
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;

    .pagination {
        text-align: center;
        margin-top: 0;
    }

    .this-week {
        font-weight: bold;

        a {
            color: #333;
        }
    }

    .prev-week, .next-week {
        a {
            font-size: 13px;
            color: #666;
        }
    }
}

footer {
    padding: 10px 0 30px 0;
    font-size: 12px;
    color: #888;
}
