@import "compass/css3/box-shadow";

html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;

    /* Navbar links: increase padding for taller navbar */
    .nav > li > a {
        padding: 15px 20px;
    }

    .brand {
        padding: 14px 20px 16px;
        /* Increase vertical padding to match navbar links */
        margin: 0;
    }
}

.navgroup {
    margin: 20px auto;
    border-radius: 4px;
    @include box-shadow(0 0 10px fade-out(black,.7));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.sticky-wrapper.is-sticky {
    .subnav {
        @include box-shadow(0 0 10px fade-out(black,.7));
    }
}

.topnav {
    .brand {
        font-size: 22px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    .navbar-inner {
        border-radius: 4px;
    }

    &.has-subnav {
        .navbar-inner {
            border-radius: 4px 4px 0 0;
        }
    }
}

.subnav {
    .navbar-inner {
        background: #fff;
        border: none;
        border-radius: 0 0 4px 4px;
        @include box-shadow(none);
    }

    .nav > li > a {
        color: #555;
    }
}

.map iframe {
    border: none;
}

.body {
    position: relative;
    padding-top: 40px;
}

// WARDS

.search-form {
    margin: 0;

    input {
        margin: 0;
        border: 0;
        width: 100%;
        padding: 14px 0;
        line-height: 1;
        text-indent: 40px;
        border-radius: 0 0 6px 6px;
    }
}

// WARD DETAIL

.alderman {
    position: relative;
    z-index: 100;

    .content {
        position: absolute;
        top: 150px;
        right: 0;
        width: 120px;
        background: fade-out(black,.2);
        padding: 20px;
        border-radius: 6px;
        @include box-shadow(0 0 10px fade-out(black,.7));
    }

    img {
        margin-bottom: 1em;
    }

    h2 {
        color: white;
        font-size: 16px;
        margin: 0;
        line-height: 20px;
    }
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;

    .pagination {
        text-align: center;
        margin-top: 0;
    }

    .this-week {
        font-weight: bold;

        a {
            color: #333;
        }
    }

    .prev-week, .next-week {
        a {
            font-size: 13px;
            color: #666;
        }
    }
}

footer {
    padding: 10px 0 30px 0;
    font-size: 12px;
    color: #888;
}
