@import "compass/css3/box-shadow";

html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
}

.navgroup {
    margin: 20px auto;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.sticky-wrapper.is-sticky {
    .subnav {
        @include box-shadow(0 0 10px fade-out(black,.7));
    }
}

.topnav {
    background:black;

    .brand {
        font-size: 18px;
        padding: 12px 0 0;
        margin: 0 15px 0 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    .nav > li > a {
        padding: 12px 24px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .navbar-inner {
        background:none;
        border-radius: 0;
        margin: 0 auto;
        width: 940px;
        padding: 0;
        border: none;
    }
}

.subnav {
    left: 0;
    right: 0;
    border-radius: 4px;
    background: #fff;
    @include box-shadow(0 0 10px fade-out(black,.8));


    .brand {
        padding: 14px 20px 16px;
        margin: 0;
    }

    .navbar-inner {
        border: none;
        background:white;
        padding: 0;
    }

    .nav > li > a {
        color: #555;
        padding: 15px 20px;
    }
}

.subnav-wrap {
    height: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 9000;

    .subnav {
        top: 0;
    }

    &.affix {
        position: fixed;
        top: 0;

        .subnav, .navbar-inner {
            border-radius: 0 0 4px 4px;
        }
    }
}

.map iframe {
    border: none;
}

.body {
    position: relative;
    padding-top: 40px;
}

// WARDS

.wards-landing {
    .wards-map {
        margin-top: -46px; // Height of navbar
        height: 100%;
    }

    .st-list {
        height: 0;
        position: relative;

        ul {
            position: absolute;
            top: 150px;
            left: 0;
            z-index: 3000;
            @include box-shadow(0 0 10px fade-out(black,.7));

            li {
                background:white;

                a {
                    width: 230px;
                }
            }
        }

        .icon-chevron-right {
            float: right;
            opacity: .5;
        }
    }
}

.search-form {
    margin: 0;

    input {
        margin: 0;
        border: 0;
        width: 100%;
        padding: 14px 0;
        line-height: 1;
        text-indent: 40px;
        border-radius: 6px 6px;
    }
}

// WARD DETAIL

ul.nav .alderman {
    a {
        font-weight: bold;
        background: #e3e3e3;
        color: #111;
        border-radius: 0 4px 4px 0;

        i {
            margin-right: 4px;
        }

        &:hover {
            background:#d7d7d7;
        }
    }
}

.ward {
    .st-list.affix {
        top: 75px;
    }

    section {
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;

        .pagination {
            text-align: center;
            margin-top: 0;
        }

        .this-week {
            font-weight: bold;

            a {
                color: #333;
            }
        }

        .prev-week, .next-week {
            a {
                font-size: 13px;
                color: #666;
            }
        }
    }
}

// INTERESTING

.about {
    h3 {
        padding: .5em 0 0;
        margin: 0 0 .25em;
        color: #888;

        &:not(:first-of-type) {
            border-top: 1px solid #ddd;
        }
    }

    h4 {
        padding-top: 1em;
        margin: 0 0 1em;
    }

    p {
        margin: 0 0 1.2em;
    }
}

// SERVICE TYPES

.servicetypes {
    .wards-map {
        margin-top: -46px; // Height of navbar
        height: 100%;
    }

    .st-info-wrap {
        height: 0;
        position: relative;

        .st-info {
            position: absolute;
            background: white;
            top: 100px;
            left: 0;
            z-index: 3000;
            margin: 0;
            padding: 12px 20px;
            border-radius: 6px;
            @include box-shadow(0 0 10px fade-out(black,.7));
        }

        h2 {
            margin: 0 0 10px;
        }

        .pagination {
            margin-bottom: 0;
        }
    }
}

// FOOTER

footer {
    padding: 10px 0 30px 0;
    font-size: 12px;
    color: #888;
}
