@import "compass/css3/box-shadow";
@import "compass/css3/transition";

html, body {
    height: 100%;
    font-family: 'Monda', Helvetica, sans-serif;
}

.navbar {
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
}

.navgroup {
    margin: 20px auto;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.nav-pills > li > a {
    padding: 7px 9px;
}

.topnav {
    background:url(/img/bluetweed.png) repeat 0 0;
    @include box-shadow(inset 0 -3px 9px fade-out(black,.85));
    z-index: 5000;

    .brand {
        font-size: 18px;
        padding: 12px 0 0;
        margin: 0 15px 0 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    .nav {
        border-left: 1px solid fade-out(white,.9);

        > li {
            border-right: 1px solid fade-out(white,.9);

            > a {
                padding: 12px 18px;
                font-size: 12px;
                text-transform: uppercase;
                outline: none;
                color: #bbb;
            }
        }

        li.active {
            // border-right-color: black;

            > a {
            }
        }
    }

    .navbar-inner {
        background:none;
        border-radius: 0;
        margin: 0 auto;
        width: 940px;
        padding: 0;
        border: none;
    }
}

.dropdown-menu {
    top: 88%;
    // left: 20px;
    z-index: 5000;
}

.dropdown-set {
    display: none;
    min-width: 188px;
    padding: 5px 10px;

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;

        li {
            a {
                text-align: right;
                padding: 0 8px;
                display: block;

                &:hover {
                    background:#0081c2;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 4px;
                }
            }
        }
    }
}

.navbar .nav > li > .dropdown-menu:after {
    left: 40px;
}

.navbar-search {
    .search-query {
        font-family: 'Monda', Helvetica, sans-serif;
        line-height: 21px;
    }
}

.map iframe {
    border: none;
}

.body {
    position: relative;
    padding-top: 35px;
}

h1 {
    margin: 0 0 14px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 12px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 12px;
}

.container.content {
    padding-top: 25px;
    padding-bottom: 25px;
}

// WEEK NAV

.weeknav {
    border-bottom: 1px solid #ddd;

    .curr {
        @include box-shadow(inset -1px 0 0 #ddd, inset 1px 0 0 #ddd);
        border-width: 0 1px;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        padding: 8px 0;
        color: #777;
    }

    .open-count, .closed-count {
        margin-left: 8px;

        &:before {
            content:"";
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: #555;
            // border-radius: 12px;
            margin-right: 4px;
            position: relative;
            top: 1px;
        }
    }

    .open-count {
        &:before {
            background: url(/img/circle.png) no-repeat 50% 2px;
        }
    }

    .closed-count {
        &:before {
            background: url(/img/check.png) no-repeat 50% 3px;
        }
    }

    h1 {
        font-size: 28px;
        margin: 0;

        a {
            color: #111;
        }

    }

    .move a {
        display: block;
        padding: 30px 0;
        font-size: 14px;
        text-transform: uppercase;
    }

    .next {
        text-align: right;
    }
}

// MAP

.home-wrap {
    position: relative;
    min-height: 100%;
    margin-top: -46px; // Height of navbar
}

.wards-map {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.map-overlay {
    position: relative;
    background: white;
    margin: 96px 0 100px 0; //100px to cover height of navbar
    z-index: 3000;
    padding: 12px 20px;
    border-radius: 6px;
    @include box-shadow(0 0 10px fade-out(black,.7));

    h2 {
        margin: 0 0 10px;
    }

    .pagination {
        margin: 10px 0;
    }
}

.legend {
    background:fade-out(white,0.2);
    border-radius: 4px;
    padding: 8px 10px;
    font-family: 'Monda', Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    top: 64px;
    right: 20px;
    margin: 67px 0 0;
    max-width: 125px;
    @include box-shadow(0 0 10px fade-out(black,.7));

    h4 {
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 10px;
    }

    i {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
        margin-right: 4px;
    }

    .colors {
        margin-bottom: 12px;
    }

    .item {
        padding-left: 26px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
        }
    }

    .delta-up {
        &:before {
            content: "▲";
            opacity: .8;
            width: 18px;
            height: 18px;
            display: block;
            text-align: center;
            line-height: 1.6;
            font-size: 10px;
            border-radius: 20px;
            z-index: 100;
        }
    }

    .greatest {
        &:before {
            border: 1px dashed #777;
            left: -1px;
        }
    }
}

// HOMEPAGE

.dateMapApp {
    h1 {
        font-size: 33px;
        line-height: 38px;
        color: #333;
        letter-spacing: -1px;
        margin-bottom: 12px;

        a {
            color: #333;
            display: block;
        }

        .dow {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #888;
            display: block;
            line-height: 16px;
            font-weight: normal;
        }
    }

    .intro {
        margin-bottom: 14px;
    }

    .pagination {
        position: relative;
        left: -20px;
        top: -12px;
        margin: 0;
        width: 260px;

        ul {
            @include box-shadow(none);
            border-bottom: 1px solid #eee;
        }

        li {
            a {
                width: 110px;
                border: none;
                border-radius: 0;
                padding: 6px 0;
                text-align: left;
            }

            &:first-child {
                a {
                    padding-left: 20px;
                }
            }

            &:last-child {
                a {
                    padding-right: 20px;
                    text-align: right;
                }
            }
        }
    }
}

.leaflet-top {
    // padding-top: 94px;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 2px 2px 0 0;
    display: none;
}

.leaflet-popup-content {
    margin: 8px 10px;
    font-size: 13px;

    a {
        display: block;
        font-weight: bold;
        font-size: 15px;
    }
}

.leaflet-popup-tip {
    width: 10px;
    height: 10px;
}

.service-list {
    list-style-type: none;
    margin: 0;
    margin-left: -20px;
    width: 260px;
    border-top: 1px solid #ddd;

    li {
        border-bottom: 1px dashed #d7d7d7;
        line-height: 1;
        position: relative;

        a {
            width: 224px;
            color: #555;
            display: block;
            padding: 7px 18px;
            text-decoration: none;
            position: relative;
            line-height: 16px;

            &:hover {
                background:#f7f7f7;
            }
        }

        &:before {
            opacity: .3;
            width: 18px;
            height: 18px;
            display: block;
            text-align: center;
            line-height: 1.6;
            font-size: 10px;
            position: absolute;
            right: 6px;
            top: 6px;
            border-radius: 20px;
            z-index: 100;
        }

        &.up {
            &:before {
                content: "▲";
            }
        }

        &.down {
            &:before {
                // content: "▼";
            }
        }

        &.max {
            &:before {
                border: 1px dashed #777;
                right: 5px;
                top: 5px;
            }
        }

        &.active {
            a {
                background:lighten(#0088cc,55%);
                color: #222;
                font-size: 16px;
            }

            .metadata {
                padding-top: 4px;
                opacity: 1;
                height: auto;
            }

            &:before {
                opacity: 1;
            }
        }

        &.in-url {
            a {
                // background:lighten(#0088cc,50%);
            }
        }
    }

    .metadata {
        display: block;
        font-size: 13px;
        height: 0;
        opacity: 0;
        @include transition(all 200ms ease);
    }

    .bar {
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        background: black;
    }
}

.share-this {
    padding-top: 10px;
    margin: 0;
}

// SERVICES

.serviceApp {
    h1 {
        letter-spacing: -1px;
    }

    .day {
        float: left;
        text-align: center;

        a {
            width: 133px;
            padding: 4px 0;
            font-size: 11px;
            line-height: 20px;
            text-transform: uppercase;
            color: fade-out(white,.25);
            border: none;
            border-left: 1px solid #fff;
            border-radius: 0 !important;
            text-shadow: 0 -1px 0 fade-out(black,.7);

            &:hover {
                background: inherit;
            }

            b {
                color: #fff;
                font-weight: bold;
            }
        }

        &.future {
            a {
                color: #888;
                text-shadow: none;

                b {
                    color: #555;
                }
            }
        }
    }

    .pagination {
        margin: 0 0 1em 0;
    }

    .pagination-wrap.affix {
        top: 0;
        padding-top: 20px;
        background:fade-out(white,0.1);
        @include box-shadow(0 4px 30px white);
    }

    figcaption {
        font-size: 12px;
        line-height: 1.4;
        background:#eee;
        padding: 7px 9px;
        margin-top: -10px;
        margin-bottom: 1.4em;
        border-radius: 0 0 4px 4px;
        color: #666;

        a {
            color: #222;
        }
    }

    .description {
        margin-bottom: 1em;
    }

    .external-links {
        a {
            line-height: 18px;
        }

        span {
            color: #888;
            font-size: 10px;
            line-height: 15px;
            text-transform: uppercase;
            display: block;
        }
    }

    .data-portal-link {
        padding: .5em .8em;
        border-radius: 6px;
        display: block;
        border: 1px solid #ddd;
        font-size: 14px;

        &:hover {
            text-decoration: none;
            border-color: #ccc;
            background: #f7f7f7;
        }
    }

    .chart {
         width:100%;
         text-align: center;
         height:1300px;
    }

    .highcharts-axis-labels a {
        color: #555;
    }
}

// WARDS

.search-form {
    margin: 0;

    input {
        margin: 0;
        border: 0;
        width: 100%;
        padding: 14px 0;
        line-height: 1;
        text-indent: 40px;
        border-radius: 6px 6px;
    }
}

// PAGINATION

.pagination {
    a {
        text-align: center;
    }

    .this-date {
        font-weight: bold;

        a {
            color: #333;
            width: 134px;
        }
    }

    .prev-date, .next-date {
        a {
            font-size: 13px;
            color: #666;
            padding: 4px 8px;
            width: 13px;
        }
    }
}

// WARD DETAIL

ul.nav .alderman {
    a {
        font-weight: bold;
        background: #e3e3e3;
        color: #111;
        border-radius: 0 4px 4px 0;

        i {
            margin-right: 4px;
        }

        &:hover {
            background:#d7d7d7;
        }
    }
}

.wardApp {
    #map {
        height:360px;
    }

    .legend {
        background: fade-out(white,.1);
        top: 20px;
        max-width: 150px;
        line-height: 16px;
        padding: 12px 10px 2px;

        div {
            margin-bottom: 8px;
        }

        .area2013 {
            &:before {
                border: 2px solid #182a35;
                width: 14px;
                height: 14px;
            }
        }

        .outgoing {
            &:before {
                background: #D6E3EB;
                border: 1px dashed #182a35;
                width: 16px;
                height: 16px;
            }
        }

        .incoming {
            &:before {
                background: white;
                border: 1px dashed #182a35;
                width: 16px;
                height: 16px;
            }
        }

        .remaining {
            &:before {
                background: #75A2BD;
            }
        }
    }

    .filter.affix {
        top: 12px;
    }

    .pagination {
        margin-bottom: 10px;
    }

    section {
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;
    }

    .counts {
        h3 {
            margin: 0 0 1em;
            line-height: 1.3;
        }
    }

    .overview-chart {
         width:100%;
         height:600px;
    }

    .service-chart {
         width:100%;
         height:350px;
    }

    .explanation {
        margin-bottom: 2em;

        b {
            font-weight: bold;
        }
    }
}

// MEDIA

.mediaApp {
    .nav-pills {
        .count {
            font-size: 11px;
            color: #888;
            padding-left: 3px;
        }

        .active {
            .count {
                color: fade-out(white,.3);
            }
        }
    }

    .images {
        margin-bottom: 30px;

        .image {
            display: inline-block;
            width: 138px;
            height: 138px;
            position: relative;
            overflow: hidden;
            vertical-align: top;
            margin: 0 1px 1px 0;

            img {
                min-height: 100%;
            }

            span {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 2px 0;
                bottom: 0;
                left: 0;
                color: white;
                background: fade-out(black,.5);
                transition: padding 400ms ease;
                font-weight: bold;
                font-size: 12px;
            }

            em {
                font-style: normal;
            }

            &:hover {
                span {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

// ABOUT

.about {
    h3 {
        padding: .5em 0 0;
        margin: 0 0 .25em;
        color: #888;

        &:not(:first-of-type) {
            border-top: 1px solid #ddd;
        }
    }

    h4 {
        padding-top: 1em;
        margin: 0 0 1em;
    }

    p {
        margin: 0 0 1.2em;
    }
}

// FOOTER

footer {
    font-size: 12px;
    color: #888;

    .container {
        margin-top: 10px;
        padding: 25px 0 30px 0;
        border-top: 1px solid #ddd;
    }

    .nav {
        padding-top: 8px;
        margin: 0;

        a {
            font-size: 14px;
            margin-left: 14px;
            color: #666;
        }
    }
}

.dateMapApp {
    footer {
        border-top: 1px solid #ccc;

        .container {
            margin-top: 0;
            border: none;
        }
    }
}

// LIBRARIES

.leaflet-label {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-radius: 4px;
    border: 4px solid #777;
    border-color: rgba(0,0,0,0.25);
    color: #444;
    display: block;
    padding: 4px 8px;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    z-index: 6;
    font-size: 13px;
    line-height: 20px;

    h4 {
        color: #222;
        font-size: 15px;
        font-weight: bold;
        margin: 0;
        font-family: 'Monda', Helvetica, sans-serif;
    }
}

.leaflet-label:before {
    border-right: 6px solid black;
    border-right-color: inherit;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
}
