@import "compass/css3/box-shadow";
@import "compass/css3/transition";

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
}

.navgroup {
    margin: 20px auto;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.sticky-wrapper.is-sticky {
    .subnav {
        @include box-shadow(0 0 10px fade-out(black,.7));
    }
}

.topnav {
    background:black;
    z-index: 5000;

    .brand {
        font-size: 18px;
        padding: 12px 0 0;
        margin: 0 15px 0 0;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        color: white;
    }

    .nav > li > a {
        padding: 12px 24px;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
    }

    .navbar-inner {
        background:none;
        border-radius: 0;
        margin: 0 auto;
        width: 940px;
        padding: 0;
        border: none;
    }
}

.dropdown-menu {
    top: 88%;
    // left: 20px;
    z-index: 5000;
}

.dropdown-set {
    display: none;
    min-width: 180px;

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;

        li {
            a {
                text-align: right;
                padding: 0 8px;
                display: block;

                &:hover {
                    background:#0081c2;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 4px;
                }
            }
        }
    }
}

.navbar .nav > li > .dropdown-menu:after {
    left: 40px;
}

.subnav {
    left: 0;
    right: 0;
    border-radius: 4px;
    background: #fff;
    @include box-shadow(0 0 10px fade-out(black,.8));


    .brand {
        padding: 14px 20px 16px;
        margin: 0;
    }

    .navbar-inner {
        border: none;
        background:white;
        padding: 0;
    }

    .nav > li > a {
        color: #555;
        padding: 15px 20px;
    }
}

.subnav-wrap {
    height: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 4000;

    .subnav {
        top: 0;
    }

    &.affix {
        position: fixed;
        top: 0;

        .subnav, .navbar-inner {
            border-radius: 0 0 4px 4px;
        }

        .alderman {
            a {
                border-top-right-radius: 0;
            }
        }
    }
}

.map iframe {
    border: none;
}

.body {
    position: relative;
    padding-top: 35px;
}

// MAP

.wards-map {
    margin-top: -46px; // Height of navbar
    min-height: 100%;
}

.map-overlay-wrap {
    height: 0;
    position: relative;

    .map-overlay {
        position: absolute;
        background: white;
        top: 100px;
        left: 0;
        z-index: 3000;
        margin: 0;
        padding: 12px 20px;
        border-radius: 6px;
        @include box-shadow(0 0 10px fade-out(black,.7));
    }

    h2 {
        margin: 0 0 10px;
    }

    .pagination {
        margin: 10px 0;
    }
}

// HOMEPAGE

.service-list {
    list-style-type: none;
    margin: 0;
    margin-left: -20px;
    width: 260px;
    border-top: 1px solid #ddd;

    li {
        border-bottom: 1px solid #ddd;
        line-height: 1;

        a {
            width: 220px;
            display: block;
            padding: 7px 20px;
            text-decoration: none;
            position: relative;

            &:hover {
                background:#f7f7f7;
            }
        }

        &.up {
            a:before {
                content: "↑ ";
            }
        }

        &.down {
            a:before {
                content: "↓ ";
            }
        }

        &.active {
            a {
                background:#0088cc;
                color: white;
            }

            .metadata {
                display: block;
            }
        }
    }

    .metadata {
        display: none;
    }

    .bar {
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 1px;
        background: black;
    }
}

// SERVICES

.serviceApp {
    .content {
        padding-top: 15px;
    }

    .pagination {
        li {
            a {
                width: 20px;
            }
        }

        .this-week {
            a {
                width: 200px;
            }
        }
    }

    .chart {
         width:100%;
         height:2500px;
    }
}

// WARDS

.search-form {
    margin: 0;

    input {
        margin: 0;
        border: 0;
        width: 100%;
        padding: 14px 0;
        line-height: 1;
        text-indent: 40px;
        border-radius: 6px 6px;
    }
}

// PAGINATION

.pagination {
    a {
        text-align: center;
    }

    .this-week {
        font-weight: bold;

        a {
            color: #333;
            width: 134px;
        }
    }

    .prev-week, .next-week {
        a {
            font-size: 13px;
            color: #666;
            padding: 4px 8px;
            width: 13px;
        }
    }
}

// WARD DETAIL

ul.nav .alderman {
    a {
        font-weight: bold;
        background: #e3e3e3;
        color: #111;
        border-radius: 0 4px 4px 0;

        i {
            margin-right: 4px;
        }

        &:hover {
            background:#d7d7d7;
        }
    }
}

.wardApp {
    #map {
        height:400px;
    }

    .filter.affix {
        top: 12px;
    }

    .pagination {
        margin-bottom: 10px;
    }

    section {
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;
    }

    .counts {
        h3 {
            margin: 0 0 1em;
        }
    }

    .chart {
         width:100%;
         height:350px;
    }

    .explanation {
        margin-bottom: 2em;

        b {
            font-weight: bold;
        }
    }
}

// MEDIA

.mediaApp {
    .content {
        padding-top: 20px;
        text-align: center;

        .image {
            display: inline-block;
            width: 150px;
            height: 150px;
            position: relative;
            overflow: hidden;
            vertical-align: top;
            margin: 0 1px 1px 0;

            img {
                min-height: 100%;
            }

            span {
                position: absolute;
                width: 100%;
                padding: 2px 0;
                bottom: 0;
                left: 0;
                color: white;
                background: fade-out(black,.5);
                transition: padding 400ms ease;
                font-weight: bold;
                font-size: 12px;
            }

            &:hover {
                span {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

// ABOUT

.about {
    h3 {
        padding: .5em 0 0;
        margin: 0 0 .25em;
        color: #888;

        &:not(:first-of-type) {
            border-top: 1px solid #ddd;
        }
    }

    h4 {
        padding-top: 1em;
        margin: 0 0 1em;
    }

    p {
        margin: 0 0 1.2em;
    }
}

// ANNOTATIONS

.annotations {
    .content {
        padding-top: 20px;
    }

    .article-body {
        padding-top: 10px;
    }
}

// FOOTER

footer {
    padding: 10px 0 30px 0;
    font-size: 12px;
    color: #888;
}
