html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000; }

.navgroup {
  margin: 20px auto;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

.sticky-wrapper.is-sticky .subnav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.topnav {
  background: black;
  z-index: 5000; }
  .topnav .brand {
    font-size: 18px;
    padding: 12px 0 0;
    margin: 0 15px 0 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .topnav .nav > li > a {
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase;
    outline: none; }
  .topnav .navbar-inner {
    background: none;
    border-radius: 0;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    border: none; }

.dropdown-menu {
  top: 88%;
  z-index: 5000; }

.dropdown-set {
  display: none;
  min-width: 180px; }
  .dropdown-set ul {
    display: inline-block;
    list-style-type: none;
    margin: 0; }
    .dropdown-set ul li a {
      text-align: right;
      padding: 0 8px;
      display: block; }
      .dropdown-set ul li a:hover {
        background: #0081c2;
        color: #fff;
        text-decoration: none;
        border-radius: 4px; }

.navbar .nav > li > .dropdown-menu:after {
  left: 40px; }

.subnav {
  left: 0;
  right: 0;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .subnav .brand {
    padding: 14px 20px 16px;
    margin: 0; }
  .subnav .navbar-inner {
    border: none;
    background: white;
    padding: 0; }
  .subnav .nav > li > a {
    color: #555;
    padding: 15px 20px; }

.subnav-wrap {
  height: 0;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 4000; }
  .subnav-wrap .subnav {
    top: 0; }
  .subnav-wrap.affix {
    position: fixed;
    top: 0; }
    .subnav-wrap.affix .subnav, .subnav-wrap.affix .navbar-inner {
      border-radius: 0 0 4px 4px; }
    .subnav-wrap.affix .alderman a {
      border-top-right-radius: 0; }

.map iframe {
  border: none; }

.body {
  position: relative;
  padding-top: 35px; }

.wards-map {
  margin-top: -46px;
  min-height: 100%; }

.map-overlay-wrap {
  height: 0;
  position: relative; }
  .map-overlay-wrap .map-overlay {
    position: absolute;
    background: white;
    top: 100px;
    left: 0;
    z-index: 3000;
    margin: 0;
    padding: 12px 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .map-overlay-wrap h2 {
    margin: 0 0 10px; }
  .map-overlay-wrap .pagination {
    margin: 10px 0; }

.dateMapApp h1 {
  font-size: 33px;
  line-height: 41px;
  color: #333;
  margin: 0 0 12px 0; }
  .dateMapApp h1 a {
    color: #333; }
.dateMapApp a {
  display: block; }
.dateMapApp .pagination {
  position: relative;
  left: -20px;
  top: -12px;
  margin: 0;
  width: 260px; }
  .dateMapApp .pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #eee; }
  .dateMapApp .pagination li a {
    width: 110px;
    border: none;
    border-radius: 0;
    padding: 6px 0;
    text-align: left; }
  .dateMapApp .pagination li:first-child a {
    padding-left: 20px; }
  .dateMapApp .pagination li:last-child a {
    padding-right: 20px;
    text-align: right; }

.service-list {
  list-style-type: none;
  margin: 0;
  margin-left: -20px;
  width: 260px;
  border-top: 1px solid #ddd; }
  .service-list li {
    border-bottom: 1px dashed #d7d7d7;
    line-height: 1; }
    .service-list li a {
      width: 220px;
      color: #555;
      display: block;
      padding: 7px 20px;
      text-decoration: none;
      position: relative;
      line-height: 16px; }
      .service-list li a:hover {
        background: #f7f7f7; }
    .service-list li.down a {
      color: #888; }
    .service-list li.active a {
      background: #0088cc;
      color: white;
      font-size: 16px; }
    .service-list li.active .metadata {
      display: block; }
  .service-list .metadata {
    display: none;
    font-size: 13px;
    padding-top: 4px; }
  .service-list .bar {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: black; }

.share-this {
  padding-top: 10px;
  margin: 0; }

.serviceApp .content {
  padding-top: 15px; }
.serviceApp .pagination li a {
  width: 20px; }
.serviceApp .pagination .this-week a {
  width: 200px; }
.serviceApp .chart {
  width: 100%;
  height: 2500px; }

.search-form {
  margin: 0; }
  .search-form input {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 14px 0;
    line-height: 1;
    text-indent: 40px;
    border-radius: 6px 6px; }

.pagination a {
  text-align: center; }
.pagination .this-week {
  font-weight: bold; }
  .pagination .this-week a {
    color: #333;
    width: 134px; }
.pagination .prev-week a, .pagination .next-week a {
  font-size: 13px;
  color: #666;
  padding: 4px 8px;
  width: 13px; }

ul.nav .alderman a {
  font-weight: bold;
  background: #e3e3e3;
  color: #111;
  border-radius: 0 4px 4px 0; }
  ul.nav .alderman a i {
    margin-right: 4px; }
  ul.nav .alderman a:hover {
    background: #d7d7d7; }

.wardApp #map {
  height: 400px; }
.wardApp .filter.affix {
  top: 12px; }
.wardApp .pagination {
  margin-bottom: 10px; }
.wardApp section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }
.wardApp .counts h3 {
  margin: 0 0 1em; }
.wardApp .chart {
  width: 100%;
  height: 350px; }
.wardApp .explanation {
  margin-bottom: 2em; }
  .wardApp .explanation b {
    font-weight: bold; }

.mediaApp .content {
  padding-top: 20px;
  text-align: center; }
  .mediaApp .content .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    margin: 0 1px 1px 0; }
    .mediaApp .content .image img {
      min-height: 100%; }
    .mediaApp .content .image span {
      position: absolute;
      width: 100%;
      padding: 2px 0;
      bottom: 0;
      left: 0;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      transition: padding 400ms ease;
      font-weight: bold;
      font-size: 12px; }
    .mediaApp .content .image:hover span {
      padding-bottom: 10px; }

.about h3 {
  padding: .5em 0 0;
  margin: 0 0 .25em;
  color: #888; }
  .about h3:not(:first-of-type) {
    border-top: 1px solid #ddd; }
.about h4 {
  padding-top: 1em;
  margin: 0 0 1em; }
.about p {
  margin: 0 0 1.2em; }

.annotations .content {
  padding-top: 20px; }
.annotations .article-body {
  padding-top: 10px; }

footer {
  padding: 10px 0 30px 0;
  font-size: 12px;
  color: #888; }
