.sprites-sprite, .share-box .twitter span, .share-box .facebook span, .share-box .email span, .weeknav .open-count:before, .weeknav .closed-count:before, .wardApp .ward-info .city a span, .wardApp .ward-info .twitter a span, .wardApp .ward-info .facebook a span, .wardApp .ward-info .councilmatic a span {
  background: url('/img/sprites-sf774bfe12c.png') no-repeat; }

html, body {
  height: 100%;
  font-family: 'Monda', Helvetica, sans-serif; }

.navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000; }

.navgroup {
  margin: 20px auto;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

.nav-pills > li > a {
  padding: 7px 9px; }

.topnav {
  background: url(/img/bluetweed.png) repeat 0 0;
  -webkit-box-shadow: inset 0 -3px 9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 9px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 9px rgba(0, 0, 0, 0.15);
  z-index: 5000; }
  .topnav .brand {
    font-size: 18px;
    padding: 12px 0 0;
    margin: 0 15px 0 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .topnav .nav {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
    .topnav .nav > li {
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
      .topnav .nav > li > a {
        padding: 12px 18px;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        color: #bbb; }
  .topnav .navbar-inner {
    background: none;
    border-radius: 0;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    border: none; }

.dropdown-menu {
  top: 88%;
  z-index: 5000; }

.dropdown-set {
  display: none;
  min-width: 188px;
  padding: 5px 10px; }
  .dropdown-set ul {
    display: inline-block;
    list-style-type: none;
    margin: 0; }
    .dropdown-set ul li a {
      text-align: right;
      padding: 0 8px;
      display: block; }
      .dropdown-set ul li a:hover {
        background: #0081c2;
        color: #fff;
        text-decoration: none;
        border-radius: 4px; }

.navbar .nav > li > .dropdown-menu:after {
  left: 40px; }

.navbar-search .search-query {
  font-family: 'Monda', Helvetica, sans-serif;
  line-height: 21px; }

.map iframe {
  border: none; }

.body {
  position: relative;
  padding-top: 35px; }

h1 {
  margin: 0 0 14px; }

h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 12px; }

h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 12px; }

.container.content {
  padding-top: 25px;
  padding-bottom: 25px; }

.share-box {
  line-height: 0;
  font-size: 0;
  background: #f7f7f7;
  position: relative;
  padding: 0 15px;
  border-radius: 6px; }
  .share-box b {
    display: inline-block;
    height: 34px;
    font-weight: normal;
    vertical-align: bottom;
    line-height: 34px;
    margin-right: 6px;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: top; }
  .share-box a {
    display: inline-block;
    padding: 0;
    opacity: .6; }
    .share-box a span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 9px 5px 7px;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
    .share-box a:hover {
      opacity: .9; }
  .share-box .twitter span {
    background-position: 0 0; }
  .share-box .facebook span {
    background-position: 0 -21px; }
  .share-box .email span {
    background-position: 0 -105px; }

.span3 .share-box b span {
  display: none; }

.weeknav {
  border-bottom: 1px solid #ddd; }
  .weeknav .row {
    position: relative; }
  .weeknav .curr {
    border: 1px solid #ddd;
    border-width: 0 1px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 0;
    color: #777; }
  .weeknav .open-count, .weeknav .closed-count {
    margin-left: 8px; }
    .weeknav .open-count:before, .weeknav .closed-count:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 4px;
      position: relative;
      top: 2px; }
  .weeknav .open-count:before {
    background-position: 0 -42px; }
  .weeknav .closed-count:before {
    background-position: 0 -62px; }
  .weeknav h1 {
    font-size: 28px;
    margin: 0; }
    .weeknav h1 a {
      color: #111; }
  .weeknav .move {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: block;
    font-size: 14px;
    text-transform: uppercase; }
  .weeknav .prev {
    left: 20px; }
  .weeknav .next {
    right: 0; }

.tooltip {
  font-weight: normal;
  font-size: 12px; }

.home-wrap {
  position: relative;
  min-height: 100%;
  margin-top: -46px; }

.wards-map {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.map-overlay {
  position: relative;
  background: white;
  margin: 96px 0 100px 0;
  z-index: 3000;
  padding: 12px 20px 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .map-overlay h2 {
    margin: 0 0 10px; }
  .map-overlay .pagination {
    margin: 10px 0; }

.legend {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: 'Monda', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  top: 64px;
  right: 20px;
  margin: 67px 0 0;
  max-width: 130px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .legend h4 {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 10px; }
  .legend i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-right: 4px; }
  .legend .colors {
    margin-bottom: 12px; }
  .legend .item {
    padding-left: 26px;
    position: relative; }
    .legend .item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 4px; }
  .legend .delta-up:before {
    content: "▲";
    opacity: .8;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    line-height: 1.6;
    font-size: 10px;
    border-radius: 20px;
    z-index: 100; }
  .legend .greatest:before {
    border: 1px dashed #777;
    left: -1px; }

.st-list {
  margin-bottom: 10px; }
  .st-list > li > a {
    margin: 0 !important; }

.dateMapApp h1 {
  font-size: 33px;
  line-height: 38px;
  color: #333;
  letter-spacing: -1px;
  margin-bottom: 12px; }
  .dateMapApp h1 a {
    color: #333;
    display: block; }
  .dateMapApp h1 .dow {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    display: block;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 1px; }
.dateMapApp .intro {
  margin-bottom: 14px; }
.dateMapApp .pagination {
  position: relative;
  left: -20px;
  margin: 0;
  width: 260px; }
  .dateMapApp .pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .dateMapApp .pagination li a {
    border: none;
    border-radius: 0;
    text-align: left; }
.dateMapApp .date-nav {
  top: -12px; }
  .dateMapApp .date-nav ul {
    border-bottom: 1px solid #eee; }
  .dateMapApp .date-nav li a {
    width: 110px;
    padding: 6px 0; }
  .dateMapApp .date-nav li:first-child a {
    padding-left: 20px; }
  .dateMapApp .date-nav li:last-child a {
    padding-right: 20px;
    text-align: right; }
.dateMapApp .share-box {
  padding: 0 20px;
  left: -20px;
  width: 220px;
  border-radius: 0 0 6px 6px; }

.leaflet-popup-content-wrapper {
  border-radius: 8px; }

.leaflet-container a.leaflet-popup-close-button {
  padding: 2px 2px 0 0;
  display: none; }

.leaflet-popup-content {
  margin: 8px 10px;
  font-size: 13px; }
  .leaflet-popup-content a {
    display: block;
    font-weight: bold;
    font-size: 15px; }

.leaflet-popup-tip {
  width: 10px;
  height: 10px; }

.service-list {
  list-style-type: none;
  margin: 0;
  margin-left: -20px;
  width: 260px;
  border-top: 1px solid #ddd; }
  .service-list li {
    border-bottom: 1px dashed #d7d7d7;
    line-height: 1;
    position: relative; }
    .service-list li .service {
      width: 224px;
      color: #555;
      display: block;
      padding: 7px 18px;
      text-decoration: none;
      position: relative;
      line-height: 16px; }
      .service-list li .service:hover {
        background: #f7f7f7; }
    .service-list li:before {
      opacity: .3;
      width: 18px;
      height: 18px;
      display: block;
      text-align: center;
      line-height: 1.6;
      font-size: 10px;
      position: absolute;
      right: 6px;
      top: 6px;
      border-radius: 20px;
      z-index: 100; }
    .service-list li.up:before {
      content: "▲"; }
    .service-list li.max:before {
      border: 1px dashed #777;
      right: 5px;
      top: 5px; }
    .service-list li.active .service {
      background: #e5f6ff;
      color: #222;
      font-size: 16px; }
    .service-list li.active .metadata {
      padding-top: 4px;
      opacity: 1;
      height: auto; }
    .service-list li.active:before {
      opacity: 1; }
  .service-list .metadata {
    display: block;
    font-size: 13px;
    line-height: 17px;
    height: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  .service-list .more-about {
    font-size: 9px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4); }
  .service-list .bar {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: black; }

.serviceApp h1 {
  letter-spacing: -1px; }
.serviceApp .day {
  float: left;
  text-align: center; }
  .serviceApp .day a {
    width: 133px;
    padding: 4px 0;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    border: none;
    border-left: 1px solid #fff;
    border-radius: 0 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
    .serviceApp .day a:hover {
      background: inherit; }
    .serviceApp .day a b {
      color: #fff;
      font-weight: bold; }
  .serviceApp .day.future a {
    color: #888;
    text-shadow: none; }
    .serviceApp .day.future a b {
      color: #555; }
.serviceApp .pagination {
  margin: 0 0 1em 0; }
.serviceApp .pagination-wrap.affix {
  top: 0;
  padding-top: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 4px 30px white;
  -moz-box-shadow: 0 4px 30px white;
  box-shadow: 0 4px 30px white; }
.serviceApp figcaption {
  font-size: 12px;
  line-height: 1.4;
  background: #eee;
  padding: 7px 9px;
  margin-top: -10px;
  margin-bottom: 1.4em;
  border-radius: 0 0 4px 4px;
  color: #666; }
  .serviceApp figcaption a {
    color: #222; }
.serviceApp .description {
  margin-bottom: 1em; }
.serviceApp .external-links a {
  line-height: 18px; }
.serviceApp .external-links span {
  color: #888;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  display: block; }
.serviceApp .data-portal-link {
  padding: .5em .8em;
  border-radius: 6px;
  display: block;
  border: 1px solid #ddd;
  font-size: 14px; }
  .serviceApp .data-portal-link:hover {
    text-decoration: none;
    border-color: #ccc;
    background: #f7f7f7; }
.serviceApp .chart {
  width: 100%;
  text-align: center;
  height: 1300px; }
.serviceApp .highcharts-axis-labels a {
  color: #555; }

.wardApp #map {
  height: 360px; }
.wardApp .legend {
  background: rgba(255, 255, 255, 0.9);
  top: 20px;
  max-width: 150px;
  line-height: 16px;
  padding: 12px 10px 2px; }
  .wardApp .legend div {
    margin-bottom: 8px; }
  .wardApp .legend .area2013:before {
    border: 2px solid #182a35;
    width: 14px;
    height: 14px; }
  .wardApp .legend .outgoing:before {
    background: #D6E3EB;
    border: 1px dashed #182a35;
    width: 16px;
    height: 16px; }
  .wardApp .legend .incoming:before {
    background: white;
    border: 1px dashed #182a35;
    width: 16px;
    height: 16px; }
  .wardApp .legend .remaining:before {
    background: #75A2BD; }
.wardApp .ward-info {
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 0 0 0 8px;
  font-size: 16px;
  line-height: 1; }
  .wardApp .ward-info a {
    opacity: .6; }
    .wardApp .ward-info a:hover {
      opacity: 1; }
  .wardApp .ward-info .icon a {
    display: inline-block;
    padding: 0;
    line-height: 24px; }
    .wardApp .ward-info .icon a span {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 6px 6px 0 6px;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
  .wardApp .ward-info .city a span {
    background-position: 0 -82px; }
  .wardApp .ward-info .twitter a span {
    background-position: 0 0; }
  .wardApp .ward-info .facebook a span {
    background-position: 0 -21px; }
  .wardApp .ward-info .councilmatic a span {
    background-position: 0 -126px; }
.wardApp .filter.affix {
  top: 12px; }
.wardApp section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }
.wardApp .counts h3 {
  margin: 0 0 1em;
  line-height: 1.3; }
.wardApp .overview-chart {
  width: 100%;
  height: 600px; }
.wardApp .service-chart {
  width: 100%;
  height: 350px; }
.wardApp .explanation {
  margin-bottom: 2em; }
  .wardApp .explanation b {
    font-weight: bold; }

.mediaApp .nav-pills .count {
  font-size: 11px;
  color: #888;
  padding-left: 3px; }
.mediaApp .nav-pills .active .count {
  color: rgba(255, 255, 255, 0.7); }
.mediaApp .images {
  margin-bottom: 30px; }
  .mediaApp .images .image {
    display: inline-block;
    width: 138px;
    height: 138px;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    margin: 0 1px 1px 0; }
    .mediaApp .images .image img {
      min-height: 100%; }
    .mediaApp .images .image span {
      position: absolute;
      text-align: center;
      width: 100%;
      padding: 2px 0;
      bottom: 0;
      left: 0;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      transition: padding 400ms ease;
      font-weight: bold;
      font-size: 12px; }
    .mediaApp .images .image em {
      font-style: normal; }
    .mediaApp .images .image:hover span {
      padding-bottom: 10px; }

.about h3 {
  padding: .5em 0 0;
  margin: 0 0 .25em;
  color: #888; }
  .about h3:not(:first-of-type) {
    border-top: 1px solid #ddd; }
.about h4 {
  padding-top: 1em;
  margin: 0 0 1em; }
.about p {
  margin: 0 0 1.2em; }

footer {
  font-size: 12px;
  color: #888; }
  footer .container {
    margin-top: 10px;
    padding: 25px 0 30px 0;
    border-top: 1px solid #ddd; }
  footer .nav {
    padding-top: 8px;
    margin: 0; }
    footer .nav a {
      font-size: 14px;
      margin-left: 14px;
      color: #666; }

.dateMapApp footer {
  border-top: 1px solid #ccc; }
  .dateMapApp footer .container {
    margin-top: 0;
    border: none; }

.leaflet-label {
  background: white;
  background: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-radius: 4px;
  border: 4px solid #777;
  border-color: rgba(0, 0, 0, 0.25);
  color: #444;
  display: block;
  padding: 4px 8px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 6;
  font-size: 13px;
  line-height: 20px; }
  .leaflet-label h4 {
    color: #222;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    font-family: 'Monda', Helvetica, sans-serif; }

.leaflet-label:before {
  border-right: 6px solid black;
  border-right-color: inherit;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 5px;
  left: -10px; }
