html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000; }

.navgroup {
  margin: 20px auto;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

.sticky-wrapper.is-sticky .subnav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.topnav {
  background: black; }
  .topnav .brand {
    font-size: 18px;
    padding: 12px 0 0;
    margin: 0 15px 0 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .topnav .nav > li > a {
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase; }
  .topnav .navbar-inner {
    background: none;
    border-radius: 0;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    border: none; }

.subnav {
  left: 0;
  right: 0;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .subnav .brand {
    padding: 14px 20px 16px;
    margin: 0; }
  .subnav .navbar-inner {
    border: none;
    background: white;
    padding: 0; }
  .subnav .nav > li > a {
    color: #555;
    padding: 15px 20px; }

.subnav-wrap {
  height: 0;
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 9000; }
  .subnav-wrap .subnav {
    top: 0; }
  .subnav-wrap.affix {
    position: fixed;
    top: 0; }
    .subnav-wrap.affix .subnav, .subnav-wrap.affix .navbar-inner {
      border-radius: 0 0 4px 4px; }
    .subnav-wrap.affix .alderman a {
      border-top-right-radius: 0; }

.map iframe {
  border: none; }

.body {
  position: relative;
  padding-top: 35px; }

.wards-landing .wards-map {
  margin-top: -46px;
  height: 100%; }
.wards-landing .st-list {
  height: 0;
  position: relative; }
  .wards-landing .st-list ul {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 3000;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .wards-landing .st-list ul li {
      background: white; }
      .wards-landing .st-list ul li a {
        width: 230px; }
  .wards-landing .st-list .icon-chevron-right {
    float: right;
    opacity: .5; }

.search-form {
  margin: 0; }
  .search-form input {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 14px 0;
    line-height: 1;
    text-indent: 40px;
    border-radius: 6px 6px; }

.pagination .this-week {
  font-weight: bold; }
  .pagination .this-week a {
    color: #333; }
.pagination .prev-week a, .pagination .next-week a {
  font-size: 13px;
  color: #666;
  padding: 4px 8px; }

ul.nav .alderman a {
  font-weight: bold;
  background: #e3e3e3;
  color: #111;
  border-radius: 0 4px 4px 0; }
  ul.nav .alderman a i {
    margin-right: 4px; }
  ul.nav .alderman a:hover {
    background: #d7d7d7; }

.ward #map {
  height: 450px; }
.ward .filter.affix {
  top: 75px; }
.ward .pagination {
  margin-top: 0; }
.ward section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }
.ward h3 {
  margin: 0 0 1em; }
.ward .chart {
  width: 100%;
  height: 350px; }

.services-landing .wards-map {
  margin-top: -46px;
  height: 100%; }
.services-landing .st-info-wrap {
  height: 0;
  position: relative; }
  .services-landing .st-info-wrap .st-info {
    position: absolute;
    background: white;
    top: 100px;
    left: 0;
    z-index: 3000;
    margin: 0;
    padding: 12px 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .services-landing .st-info-wrap h2 {
    margin: 0 0 10px; }
  .services-landing .st-info-wrap .pagination {
    margin: 0 0 10px; }

.service .content {
  padding-top: 15px; }
.service .chart {
  width: 100%;
  height: 2500px; }

.about h3 {
  padding: .5em 0 0;
  margin: 0 0 .25em;
  color: #888; }
  .about h3:not(:first-of-type) {
    border-top: 1px solid #ddd; }
.about h4 {
  padding-top: 1em;
  margin: 0 0 1em; }
.about p {
  margin: 0 0 1.2em; }

footer {
  padding: 10px 0 30px 0;
  font-size: 12px;
  color: #888; }
