html, body {
  height: 100%; }

.navbar {
  margin-bottom: 0;
  /* Navbar links: increase padding for taller navbar */ }
  .navbar .nav > li > a {
    padding: 15px 20px; }
  .navbar .brand {
    padding: 14px 20px 16px;
    /* Increase vertical padding to match navbar links */
    margin: 0; }

.navgroup {
  margin: 20px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

.topnav .brand {
  font-size: 22px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  color: white; }
.topnav .navbar-inner {
  border-radius: 4px; }
.topnav.has-subnav .navbar-inner {
  border-radius: 4px 4px 0 0; }

.subnav .navbar-inner {
  background: #fff;
  border: none;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.subnav .nav > li > a {
  color: #555; }

.map iframe {
  border: none; }

.body {
  position: relative;
  padding-top: 40px; }

.search-form {
  margin: 0; }
  .search-form input {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 14px 0;
    line-height: 1;
    text-indent: 40px;
    border-radius: 0 0 6px 6px; }

.alderman {
  position: relative;
  z-index: 100; }
  .alderman .content {
    position: absolute;
    top: 150px;
    right: 0;
    width: 120px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .alderman img {
    margin-bottom: 1em; }
  .alderman h2 {
    color: white;
    font-size: 16px;
    margin: 0;
    line-height: 20px; }

section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }

.timeframes {
  line-height: 1; }
  .timeframes a {
    padding: 4px 12px;
    border-radius: 12px; }
    .timeframes a:hover {
      background: #DDF2F4;
      text-decoration: none; }

footer {
  padding: 10px 0 30px 0;
  font-size: 12px;
  color: #888; }
