html, body {
  height: 100%; }

.navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000; }

.navgroup {
  margin: 20px auto;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000; }

.sticky-wrapper.is-sticky .subnav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.topnav {
  background: black; }
  .topnav .brand {
    font-size: 18px;
    padding: 12px 0 0;
    margin: 0 15px 0 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: white; }
  .topnav .nav > li > a {
    padding: 12px 24px;
    font-size: 12px;
    text-transform: uppercase; }
  .topnav .navbar-inner {
    background: none;
    border-radius: 0;
    margin: 0 auto;
    width: 940px;
    padding: 0;
    border: none; }
  .topnav.has-subnav .navbar-inner {
    border-radius: 4px 4px 0 0; }

.subnav {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 2000;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .subnav .brand {
    padding: 14px 20px 16px;
    margin: 0; }
  .subnav .navbar-inner {
    border: none;
    background: white; }
  .subnav .nav > li > a {
    color: #555;
    padding: 15px 20px; }

.sticky-wrapper {
  height: 0 !important;
  position: absolute;
  top: 70px;
  width: 100%; }
  .sticky-wrapper .subnav {
    position: relative;
    top: 0; }
  .sticky-wrapper.is-sticky .subnav, .sticky-wrapper.is-sticky .navbar-inner {
    border-radius: 0 0 4px 4px; }

.map iframe {
  border: none; }

.body {
  position: relative;
  padding-top: 40px; }

.wards .wards-map {
  margin-top: -46px;
  height: 100%; }
.wards .st-list {
  height: 0;
  position: relative; }
  .wards .st-list ul {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 3000;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .wards .st-list ul li {
      background: white; }
      .wards .st-list ul li a {
        width: 230px; }
  .wards .st-list .icon-chevron-right {
    float: right;
    opacity: .5; }

.search-form {
  margin: 0; }
  .search-form input {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 14px 0;
    line-height: 1;
    text-indent: 40px;
    border-radius: 6px 6px; }

.ward .alderman {
  position: relative;
  z-index: 100; }
  .ward .alderman .content {
    position: absolute;
    top: 150px;
    right: 0;
    width: 120px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .ward .alderman img {
    margin-bottom: 1em; }
  .ward .alderman h2 {
    color: white;
    font-size: 16px;
    margin: 0;
    line-height: 20px; }
.ward section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd; }
  .ward section .pagination {
    text-align: center;
    margin-top: 0; }
  .ward section .this-week {
    font-weight: bold; }
    .ward section .this-week a {
      color: #333; }
  .ward section .prev-week a, .ward section .next-week a {
    font-size: 13px;
    color: #666; }

.interesting.landing .summary {
  padding: 1em 0;
  font-size: 16px;
  line-height: 21px; }
.interesting article {
  padding: 20px 0;
  border-bottom: 1px solid #ddd; }
  .interesting article .article-body {
    font-size: 16px;
    line-height: 24px;
    padding: 1em 0; }
    .interesting article .article-body p {
      margin: 0 0 1.2em; }

.servicetypes .wards-map {
  margin-top: -46px;
  height: 100%; }
.servicetypes .st-info-wrap {
  height: 0;
  position: relative; }
  .servicetypes .st-info-wrap .st-info {
    position: absolute;
    background: white;
    top: 100px;
    left: 0;
    z-index: 3000;
    margin: 0;
    padding: 12px 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .servicetypes .st-info-wrap h2 {
    margin: 0 0 10px; }
  .servicetypes .st-info-wrap .pagination {
    margin-bottom: 0; }

footer {
  padding: 10px 0 30px 0;
  font-size: 12px;
  color: #888; }
