---
layout: default
section: media
app: mediaApp
title: Recently attached media
has_js: true
---

<div class="container content">
    <div class="row">
        <div class="span3" ng-controller="sidebarCtrl">
            <div class="filter">
                <h1>Recent photos</h1>
                {% raw %}
                <form class="photo-filters">
                    <p>Filter the photos by choosing from the dropdowns below.</p>
                    <h4>Ward</h4>
                    <select ng-model="data.search.ward" ng-options="w for w in data.wards">
                        <option value="">--All wards--</option>
                    </select>

                    <h4>Service Type</h4>
                    <select ng-model="data.search.service_name" ng-options="st for st in data.serviceTypes">
                        <option value="">--All service types--</option>
                    </select>

                    <h4>Date</h4>
                    <select ng-model="data.search.requested_date">
                        <option value="">--All dates--</option>
                        <option ng-repeat="rd in data.requestedDates" value="{{rd}}">{{ rd | date:'MMMM d' }}</option>
                    </select>
                    <input class="btn btn-reset" type="reset" value="Reset filters" ng-click="data.search={}">
                </form>
                {% endraw %}

                {% include share_box.html %}
            </div>
        </div>
        <div class="span9 images">
            <div ng-controller="mediaCtrl">
                <p>
                    Chicago's Open311 system allows users to attach photos to their service requests.
                    This page shows the last 14 days' worth of photos attached to 311 <span ng-bind="data.search.service_name"></span> requests.
                    Clicking on a picture will take you to the <a href="http://servicetracker.cityofchicago.org/">Service Tracker</a> page for that request.
                </p>
                {% raw %}
                <a class="image" ng-href="http://servicetracker.cityofchicago.org/requests/{{ img.service_request_id }}" ng-repeat="img in data.media | filter:data.search:true">
                    <img ng-src="{{ img.media_url }}" alt="{{ img.address }}">
                    <span>Ward <em ng-bind="img.ward"></em></span>
                </a>
                <h4 ng-show="(data.media | filter:data.search:true).length == 0">No photos found.</h4>
                {% endraw %}
            </div>
        </div>
    </div>
</div>
