{% raw %}
<div class="share-box">
    <b>Share this <span>view</span>:</b>
    <a class="twitter" ng-href="https://twitter.com/share?text={{ data.shareText|escape }}&url={{ data.currURL|escape }}" target="_blank"><span></span></a>
    <a class="facebook" ng-href="https://www.facebook.com/sharer/sharer.php?u={{ data.currURL|escape }}" target="_blank"><span></span></a>
    <a class="email" href="mailto:?subject={{ data.shareText|escape }}&body={{ data.currURL|escape }}"><span></span></a>
</div>
{% endraw %}
