<ul class="st-list nav nav-pills nav-stacked">
    <li class="active"><a data-code="4ffa4c69601827691b000018" href="#">Abandoned Vehicle</a></li>
    <li><a data-code="4ffa9cad6018277d4000007b" href="#">Alley Light Out</a></li>
    <li><a data-code="4fd3bd72e750846c530000cd" href="#">Building Violation</a></li>
    <li><a data-code="4fd3b167e750846744000005" href="#">Graffiti Removal</a></li>
    <li><a data-code="4ffa971e6018277d4000000b" href="#">Pavement Cave-In Survey</a></li>
    <li><a data-code="4fd3b656e750846c53000004" href="#">Pothole in Street</a></li>
    <li><a data-code="4fd6e4ece750840569000019" href="#">Restaurant Complaint</a></li>
    <li><a data-code="4fd3b9bce750846c5300004a" href="#">Rodent Baiting / Rat Complaint</a></li>
    <li><a data-code="4fd3b750e750846c5300001d" href="#">Sanitation Code Violation</a></li>
    <li><a data-code="4ffa995a6018277d4000003c" href="#">Street Cut Complaints</a></li>
    <li><a data-code="4ffa9f2d6018277d400000c8" href="#">Street Light 1 / Out</a></li>
    <li><a data-code="4fd3bd3de750846c530000b9" href="#">Street Lights All / Out</a></li>
    <li><a data-code="4ffa9db16018277d400000a2" href="#">Traffic Signal Out</a></li>
    <li><a data-code="4fd3bbf8e750846c53000069" href="#">Tree Debris</a></li>
</ul>
