<div class="pagination">
    <ul>
        <li class="prevDay"><a href="" ng-click="goToPrevDay()">&larr; <span ng-bind="prevDayFormatted"></span></a></li>
        <li class="nextDay"><a href="" ng-click="goToNextDay()"><span ng-bind="nextDayFormatted"></span> &rarr;</a></li>
    </ul>
</div>

<h1>Here's what happened in Chicago on <a href="#">{{ dateFormatted }}</a></h1>
<p>
    Choose a service type to see which wards saw the most requests.
</p>

<ul class="service-list">
    <li ng-repeat="service in serviceList" ng-class="serviceClass(service)">
        <a ng-href="#/{{ date }}/{{ service.Slug }}">
            <span class="service-name">{{ service.Name }}</span>
            <span class="metadata">
                <b>{{ service.Count }}</b> requests this day
                vs <b>{{ service.AvgRounded }}</b> average
            </span>
            <span class="bar" style="width:{{ service.Percent }}%;"></span>
        </a>
    </li>
</ul>

<p class="share-this">
    <a href="{{ currURL }}">Share this map</a>
</p>
