<div class="pagination">
    <ul>
        <li class="prevDay"><a ng-click="goToPrevDay()">&larr; <span ng-bind="prevDayFormatted"></span></a></li>
        <li class="nextDay"><a ng-click="goToNextDay()"><span ng-bind="nextDayFormatted"></span> &rarr;</a></li>
    </ul>
</div>

<h2>Here's what happened in Chicago on<br>{{ dateFormatted }}</h2>
<p>
    Some text about how to read the following…
</p>

<ul class="service-list">
    <li ng-repeat="service in serviceList" ng-class="{active: service.Slug == serviceSlug, up: service.Diff > 0, down: service.Diff < 0}"><a ng-href="#/{{ date }}/{{ service.Slug }}">{{ service.Name }} ({{ service.Diff }})</a></li>
</ul>

<p>
    <a href="{{ currURL }}">Share this map</a>
</p>
