<div class="pagination">
    <ul>
        <li class="prevDay"><a href="{{ prevDay }}">&larr; Prev</a></li>
        <li class="nextDay"><a href="{{ nextDay }}">Next &rarr;</a></li>
    </ul>
</div>

<h2>{{ dateFormatted }}</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.
</p>
<ul><li ng-repeat="service in counts | orderBy:orderProp">{{ service.Code }} {{ service.Count }}</li></ul>
<p>
    <a href="{{ currURL }}">Share this map</a>
</p>
